body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/images-page-3/bg-bmth.png');
    background-size: cover; 
    background-position: center;
}

.container{
    background-color: #ffffffcb;
    max-width: 1200px;
    margin:auto;
    display: flex;
    flex-direction: column;}
.container a{text-decoration: none;}

cite{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

aside,main,.biografia{
    margin: 20px;
    border-radius: 10px;
}

/*música*/
.spotify-container {
    padding: 20px;  
}
/*header*/

nav{
    display: flex;
    flex-direction: column;
}
.titulo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding: 50px;
    text-decoration: none;
    background-color: #37214d
}
.titulo a {
    color: #ffffff;
    font-size: 250%;
    font-weight: bold;
}
.titulo a:hover {
    color: #ffffffb6;
    font-size: 250%;
    font-weight: bold;
}
.content1{display: flex;}
.content2{flex:1;}

.menu-items{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background-color: #242424;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}

.menu-items a{
    list-style-type: none;
    color:#7f6c8b;
}
.menu-items a:hover{
    list-style-type: none;
    color:#ffffff;
}


/*aside*/

aside{
    background-color: #4e05644d;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside img{
    height: 200px;
    margin: 30px 30px;
    border-radius: 26px;
}

aside h2{
    text-align: center;
    font-size: 20px;
    margin: 0;
}

aside p{
    margin: 0 20px;
    font-size: 15px;
}

/*imagem do main*/

 main img{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-radius: 26px;
}

/*biografia*/

.biografia h1{
    margin-top: 50px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.biografia p{
    text-align: justify;
    margin:50px 50px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

/*discografia*/

.discografia h1{
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.discografia img{
    height: 200px;
    width: 200px;
    border-radius: 5%;
}

.a1{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.a2{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.a3{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.a4{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

/*footer*/

footer{
    background-color: #37214d;
    padding: 50px;
    color: #fff;
}
footer p{text-align: center;}
