body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('bmth-bg.jpg');
    background-size: cover; 
    background-position: center;
    background-color: #222226;
}

.container{
    background-color: #333333;
    max-width: 1200px;
    margin:auto;
    display: flex;
    flex-direction: column;}
.container a{text-decoration: none;}

aside,main, .bibliografia{
    margin: 20px;
    border-radius: 10px;
}

/*música*/
.spotify-container {
    padding: 20px;
    height: 20px;  
}
/*header*/

nav{
    display: flex;
    flex-direction: column;
}

nav div img{
    height: 200px;
}
.titulo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding: 50px;
    text-decoration: none;
    background-color: #D90B1C;
}
.titulo a {
    color: #ffffff;
    font-size: 250%;
    font-weight: bold;
}
.titulo a:hover {
    color: #ffffffb6;
    font-size: 250%;
    font-weight: bold;
}
.content1{display: flex;}
.content2{flex:1;}
.content3{
    display: flex;
    justify-content: space-around;
}
.menu-items{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background-color: #242424;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}
.menu-items a{
    list-style-type: none;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid transparent;
    color: white;
    transition: 0.3s;

}
.menu-items a:hover
{
    color: white;
}

.menu-items a:nth-child(1):hover {
    background-color: white;
    color: black; 
  }

  .menu-items a:nth-child(2):hover {
    background-color: #4F6F52 ;
    color:#ffffff; 
  }
  .menu-items a:nth-child(3):hover {
    background-color: black;  
  }
  .menu-items a:nth-child(4):hover {
    background-color: #37214d ; 
  }
  .menu-items a:nth-child(5):hover {
    background-color: 	#ff69b4}
  


/*aside*/

aside{
    background-color: #D90B1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

aside img{
    height: 200px;
    margin: 30px 30px;
}

aside p{
    margin: 20px;
    font-size: 15px;
}

/*main*/

main{
    display: flex;
    
}

 main img{
    width: 350%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    border-radius: 26px;
}

/*biografia*/

.biografia{
    background-color: #262626;
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    border-radius: 26px;
}
.biografia h1{
    margin-bottom: 0px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: #868686;
}

.biografia p{
    text-align: left;
    margin:20px 50px;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    color: #b3b3b3;
}

/*discografia*/

.discografia{
    width: 70%;
}
.discografia h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.discografia img{
    height: 200px;
    width: 200px;
    border-radius: 5%;
}

.a1{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.a2{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.a3{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    
    padding-right: 50px;
}
.a4{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.a5{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding-right: 30px;
}

/*footer*/

footer{
    background-color: #D90B1C;
    padding: 25px;
}
footer p{text-align: center;}

@media (max-width: 768px) {

    body{
        width: fit-content;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    main img {
        width: 100%;
        height: auto;
        border-radius: 26px;
        margin: 15px;
    }

    .biografia {
        margin-left: 0;
    }

    .content3{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .a1 img, .a2 img, .a3 img, .a4 img,.a5 img {
        width: 100%;
        height: auto;
        max-width: 200px; 
        border-radius: 5%;
        }

    .a1, .a2, .a3, .a4, .a5 {
        display: flex;
        width: fit-content;
        text-align: center;
        margin-bottom: 20px;
    }
    aside{
        width:fit-content;
    }
    .spotify-container {
        height: auto;
    }

    .discografia img {
        width: 100%;
        height: auto;
    }
}

footer {
    background-color: #D90B1C;
    color: white;
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }

    .content3{
        flex-direction: column;
    }

   
    .menu-items {
        justify-content: center; 
        flex-wrap: wrap; 
    }
    
    main {
        flex-direction: column;
        width: 100%;
    }

    .a1, .a2, .a3, .a4, .a5 {
        justify-content: center;
        margin-bottom: 20px;
        flex-wrap: wrap; 
    }
    main img {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    aside{
        display: none;
    }
    .biografia {
        max-width: fit-content;
    }

    .biografia h1 {
        margin-top: 20px; 

    }
    .biografia {
        margin-left: 0;
    }

}